<%- include("partials/header.ejs") %>

<body class="text-center">
    <h1 class="bg-primary text-white p-4">Famous Quotes</h1>

    <% for (let i of rows) {%>
        <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <figure>
            <blockquote class="blockquote">
                <p>"<%=i.quote%>"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a class="authors" href="#" authorId="<%=i.authorId%>"> <%=i.firstName%> <%=i.lastName%></a>
            </figcaption>
            </figure>
        </div>
        </div>       
        <br>
    <% } %>

    <div id="authorInfo">
        <h2 id="authorName"></h2>
        <img id="authorImg" style="width: 100px">
    </div>


    <script>
        let authors = document.querySelectorAll(".authors");

        for (let i of authors) {
            authors.addEventListener("click" , getAuthorInfo);
        }

        function $(selector) {
            return document.querySelector(selector);
        }

        async function getAuthorInfo() {
            let authorId = this.getAttribute("authorId");
            let url = "api/authorInfo/" + authorId;
            let response = await fetch(url);
            let data = await response.json();
            console.log(data);
            $("#authorName").textContent = data[0].firstName + " " + data[0].lastName;
            $("#authorImg").src = data[0].portrait;
        }
    </script>

    <%- include("partials/footer.ejs")%>
</body>
</html>